* {
  font-family: "Montserrat";
}
.conteiner {
  width: 1280px;
  margin: 0 auto;
}
.header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}

.header-menu-item:last-child {
margin-right: 0;
}

.header-navigation {
display: flex;
justify-content: center;

}

.header-menu {
  text-align: center;
  padding: 0;
}


.header-menu-link {
  color: #ff0000;
  text-decoration: none;
  
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.header-menu-link:last-child{ 
  color: rgba(4, 7, 1, 0.295);
}

.content-item {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 3px;

}
.content-item {
  text-align: center;
  text-transform: uppercase;
  color: #373737;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
}

.content-text-item {
  color: #373737;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.content-text {
  width: 1145px;
  height: 132px;
  left: 67px;
}

.first-content-text-item {
  width: 1145px;
  top: 115px;
  left: 67px;
}

.first-content-text {
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
}

.second-content-text-item {
  width: 1145px;
  height: 216px;
  left: 67px;
  top: 275px;
}

.second-content-text {
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
}

.rectangle {

  text-align: center;
}

.text-rectangle {
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  background: #ff0000;
  color: #ffffff;
  text-transform: uppercase;
}

.originator {
  height: 39px;
  padding-left: 713px;
  padding-top: 95px;
  font-size: 16px;
  line-height: 20px;
  text-transform: center;
  font-style: normal;
}

.photo-rights {
  color: #373737;
  font-weight: 700;
}
